:root {
    --gDM-online: linear-gradient(to right, rgb(68, 105, 68) , transparent);
    --gDM-offline: linear-gradient(to right, rgb(66, 66, 66) , transparent);
    --gDM-dnd: linear-gradient(to right, rgb(130,70,70) , transparent);
    --gDM-idle: linear-gradient(to right, rgb(135, 105, 75) , transparent);
    --gDM-streaming: linear-gradient(to right, rgb(63, 33, 88) , transparent);
}

[class^="link_"]:has(:is([mask*="online"], [fill="#23a55a"])) {
    background: var(--gDM-online);
}
[class^="link_"]:has(:is([mask*="offline"], [fill="#80848e"])) {
    background: var(--gDM-offline);
}
[class^="link_"]:has(:is([mask*="dnd"], [fill="#f23f43"])) {
    background: var(--gDM-dnd);
}
[class^="link_"]:has(:is([mask*="idle"], [fill="#f0b232"])) {
    background: var(--gDM-idle);
}
[class^="link_"]:has(:is([mask*="streaming"], [fill="#3f2158"])) {
    background: var(--gDM-streaming);
}
