[class*=timestampInline], [class*=timestampVisibleOnHover] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[role="article"]:hover [class*=timestampInline],
[role="article"]:hover [class*=timestampVisibleOnHover] {
  opacity: 1;
}
