/* Changes the look of the Connected Accounts on Discord Profiles, adds a background synced to the profile theme. */
/*
Head over to Settings > Accessibility > "Sync profile themes"
And turn on the option.
If your theme is mainly dark/light, change the text color accordingly.
*/
[class*="connectedAccountContainer_"] {
    --CA-radius: 16px;
    --CA-icon-color: white;
    --CA-checkmark-color: rgba(0, 0, 0, 0.65);
    --CA-background: var(--profile-gradient-secondary-color);
    /* Alternatively, you can have var(--profile-gradient-primary-color), but it might blend in with the profile and not stand out. */
}

[class*="connectedAccountContainer_"] {
    border: none;
    background: var(--CA-background);
    border-radius: var(--CA-radius);
}

[class*="connectedAccountContainer_"] [class*="connectedAccountOpenIcon_"],
[class*="connectedAccountContainer_"] [class*="connectedAccountNameText_"] {
    color: var(--CA-icon-color);
}

[class*="connectedAccountContainer_"] [class*="flowerStar_"] path {
    fill: var(--CA-checkmark-color);
}

[class*="connectedAccountContainer_"] [class*="childContainer_"]>svg>path {
    fill: var(--CA-icon-color);
}
