[class*="content_"]:not(:is(.content_acadc1, .content_eed6a8)) {margin-right: 8px;}
[class*="form_"] {bottom: -2px;}
[class*="typing_"] {bottom: -10px;}
[class*="banner"] {border-radius: 16px 16px 0 0;}
[class*="mentioned"] {border-radius: 0 16px 16px 0;}

[class^="userPanel"], 
[class^="userPanel"]::before, 
[class^="userProfile"], 
[class^="userProfile"]::before,
[class^="userPopout"], 
[class^="userPopout"]::before, 
.root_b9fccc, 
[class*="applicationStore_"], 
[class*="shop_"], 
[class*="shopScroll_"], 
[class*="pageWrapper_a3a4ce"], 
[class*="root"]:has([class*="userProfileOuter_"]) {
    border-radius: 16px;
}

[class*="scrollableContainer_"], 
[class*="floating_"], 
.container_d1c246, 
.container_c2739c {
    border-radius: 16px !important;
}

[class*="searchBarComponent_"] {text-align: center !important;}
[class*="base_"]:not(:is(.base_f23da8, [class*="numberBadge_"], [class*="iconBadge_"])), [class*="profilePanel_"], .container_cbd271 {
  margin: 12px 0 !important;
  border-radius: 16px !important;
}
[class*="guilds_"] {margin: 4px 0 !important;}
[class*="sidebar_"], [class*="chat_"], [class*="guilds_"], .container_c2739c  {
  margin: 0 6px;
  border-radius: 16px !important;
}
.mention, .channelMention, .wrapper_a7c28c {
  border-radius: 8px !important;
}
a[href*="/channels/"] {
    border-radius: 10px;
}
div[class*="menu_"][role*="menu"] {
    border-radius: 16px;
}
/* message bar & msg bar buttons */
.channelTextArea_d0696b {border-radius: 16px;}
.webkit__8d35a .buttons_d0696b {
  margin-right: 0px;
}
[class*="attachButton_"] {
  margin-left: -20px;
}
/* Right-click popout */
[class*="menu_"] [class*="scroller_"] {
    overflow: hidden !important;
    margin-right: 8px;
}
/* dialog popout (eg: leave server) & checkboxes */
[class*="checkbox_"], [class*="item_"]:not(:is(.item_a0)) {border-radius: 8px;}
[class*="button_"], [class*="menu_"] {border-radius: 16px;}
/* Member List */
[class*="member"] {border-radius: 16px;}
[class*="membersWrap_"] {
    height: 96%;
    border-radius: 16px;
    top: 1%;
}
[class*="members_"] {margin-left: 4px !important;}
/* User Profile on the sidebar */
div[class*="userPanelOuter"] {
    height: 96%;
    top: 1.5%;
}
/* Button bar on message hover */
.wrapper_ef319f {
    border-radius: 16px;
    padding-left: 6px;
    padding-right: 6px;
}
/* Scroll bar */
* {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}
/* Notice bar which pops up on the top to annoy everyone, (includes nitro notices, billing details, and the relationship plugin) */
.notice__5fd4c {
    border-radius: 16px;
    line-height: 28px;
    margin: 0px 12px 5px 4px;
}
.closeButton__90904 {
    top: -4px;
}
.button__33db6 {
    height: 22px;
    top: 3px;
}
